h1 {
  text-align: center;
}
h2 {
  text-indent: 10px;
  font-style: italic;
}
ul {

}

}
p {

}

.flashy {
  color: red;
  text-style: italic;
}
li.best {
  text-shadow: 3px;
  test-underline: 3px;
  color: blue;
}
