h1 {
  text-align: center;
}
h2 {
  text-indent: 10px;
  font-style: italic;
}
ul {

}

}
p {

}

.flashy {
  color: red;
  text-style: italic;
}
li.best {
  font-size: 20px;
  text-style: bold;
  color: blue;
}
